//@import '/src/lib/styles/themes.scss';
//@import '/src/lib/styles/mixins.scss';
//@import '/src/lib/styles/colors.scss';
//@import '/src/lib/styles/colors-css.scss';

body {
  overflow-y: hidden;
  overflow-x: hidden;
  //@include custom-scrollbars-inplace();
  color: var(--color-text);
}

html {
  height: 100%;
}

:global(#react-app) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  color: var(--color-text);
}

p {
  line-height: 1.57;
}

.AppLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-background);

  //@include dark-mode() {
  //  color: #fff;
  //}

  &.fixed {
    height: 100%;
  }

  > .header,
  .footer {
    flex: 0 0 90px;
    box-sizing: border-box;

    //@include apply-theme(background-color, bg-light);
    //@include background-transition();
  }

  svg.logo path {
    //@include dark-mode() {
    //  fill: #fff;
    //}
  }
}

.main {
  flex: 1 0;
  min-height: 0;
  // overflow: auto;

  //@include custom-scrollbars-inplace();

  .mainContent {
    display: flex;
    min-height: 100%;

    .hero {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .contentGenerator {
    display: flex;
    flex-direction: column;
    padding: 30px;

    > section {
      width: 100%;
      border-bottom: 1px solid var(--color-border-gray);
    }

    .ContentGeneratorContent {
      flex: 1;
    }

    section {
      border-bottom: 0;
      flex: 1 1 auto;
      width: 100%;
      padding-bottom: 0;

      > .content {
        margin: 0 auto;
        padding: 0 31px;
      }
    }

    .generatorAction {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .hero {
      display: flex;
      flex-direction: row;
    }
  }
}

.sidebar {
  width: 90%;
}

.govuk-link {
    color: var(--color-link);
    text-decoration: none;
}
